<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="onLogout()">
        <ion-icon name="log-out"></ion-icon>
        <ion-text style="padding-left: .25rem;">Logout</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
  <ion-row>
    <ion-col>
      <h2>Welcome back, {{ user.displayName | uppercase }}!</h2>
      <p>Your id: {{ user.uid }}</p>
      <p>Your email: {{ user.email }}</p>
    </ion-col>
  </ion-row>
</ion-content>
